
<div class="container p-5">
    <div class="card card-register shadow-lg">
        <div class="card-header">
            Registration Form
        </div>
        <div class="card-body p-5">
            <form [formGroup]="userRegForm">
                <div class="row">
                    <div class="col-xl-6 mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter your first name">
                        <div *ngIf="userRegForm?.get('firstName')?.invalid && (userRegForm?.get('firstName')?.dirty || userRegForm?.get('firstName')?.touched)" class="text-danger">
                            <div *ngIf="userRegForm?.get('firstName')?.errors">
                                <p>First Name Required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter your last name" >
                        <div *ngIf="userRegForm?.get('lastName')?.invalid && (userRegForm?.get('lastName')?.dirty || userRegForm?.get('lastName')?.touched)" class="text-danger">
                            <div *ngIf="userRegForm?.get('lastName')?.errors">
                                <p>Last Name Required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="tel" maxlength="10" class="form-control" id="contact" formControlName="contact" placeholder="Enter your phone number">
                        <div *ngIf="userRegForm?.get('contact')?.invalid && (userRegForm?.get('contact')?.dirty || userRegForm?.get('contact')?.touched)" class="text-danger">
                            <div *ngIf="userRegForm?.get('contact')?.errors">
                                <p>Contact No. Required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email address">
                        <div *ngIf="userRegForm?.get('email')?.invalid && (userRegForm?.get('email')?.dirty || userRegForm?.get('email')?.touched)" class="text-danger">
                            <div *ngIf="userRegForm?.get('email')?.errors">
                                <p>Email Required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
                        <div *ngIf="userRegForm?.get('password')?.invalid && (userRegForm?.get('password')?.dirty || userRegForm?.get('password')?.touched)" class="text-danger">
                            <div *ngIf="userRegForm?.get('password')?.errors">
                                <p>Password Required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Please confirm your password">
                        <div *ngIf="userRegForm?.get('confirmPassword')?.invalid && (userRegForm?.get('confirmPassword')?.dirty || userRegForm?.get('confirmPassword')?.touched)" class="text-danger">
                            <div *ngIf="userRegForm?.get('confirmPassword')?.errors">
                                <p>Confirm Password Required!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a routerLink="/">Click for login</a>
            <div class="col-xl-12">
                <button class="btn btn-primary float-end" (click)="doRegister()" [disabled]="!userRegForm.valid">Register</button>
            </div>
        </div>
    </div>

</div>