.card-header{
    background-color: var(--secondary-color);
    color: var(--secondary-light);
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.register-card{
    width: 450px;
}