/* You can add global styles to this file, and also import other style files */

:root{
    --bg-body: #b4c4dc;
    --bg-card: #b8cfea;
    --primary-color: #59a3e8;
    --primary-light: #e3f2e0;
    --secondary-light: #c9d2d8;
    --secondary-color: #1f251e;
}

body{
    background-color: var(--bg-body);
    color: var(--text-color-light);
}